{% assign intro = site.data.data.intro %}
<header class="header">
    {% if intro.avatar.path and intro.avatar.display %}
        <div class="avatar">
            <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ intro.avatar.path }}" alt="avatar">
        </div>
    {% endif %}
        
    <div class="intro">
        <h1 class="name">{{ intro.name }}</h1>
        <h2 class="desc">{{ intro.desc }}</h2>
    </div>
        
    <div class="social">
        {% include social.html %}
    </div>
</header>