@charset "utf-8";

$text-color:           #333 !default;
$text-color-secondary: #666 !default;
$background-color:     #fff !default;
$grey-color:           #aaa !default;
$border-color:         #ededed !default;

@import "base";