/* Base */
body {
    font-size: 16px;
}

.page, .post {
    background-color: #fff;
}

pre code {
    overflow-wrap: normal;
    white-space: pre;
}

table {
    overflow: auto;
    display: block
}

table th {
    font-weight: bold
}

table th, table td {
    border: 1px solid #ddd;
    padding: 6px 13px
}

table tr {
    border-top: 1px solid #ccc;
    background-color: #fff
}

table tr:nth-child(2n) {
    background-color: #f8f8f8
}

blockquote {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    border-left: 4px solid #DDD;
    padding: 0 15px;
    margin: 15px 0;
    color: #777;
    overflow-wrap: normal;
    overflow: auto;
}

/* page styles */
.item-list {
    list-style-type: none;
}

.item-set {
    background-color: #eef;
    text-transform: uppercase;
}

.item-head {
    font-variant: small-caps;
}

@media (max-width: 768px) {
    .item-list {
        padding-left: 0px;
    }
}

/* Post styles */
.post-header {
    margin: 10px 0 30px;
}

.post-header h1 {
    font-size: 30px;
    letter-spacing: -1.75px;
    line-height: 1;
    font-weight: 300;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.post-header .meta {
    font-size: 15px;
    color: #818181;
    margin-top: 5px;
    font-variant: small-caps;
}

.post-content > * {
    margin:20px 0;
}

.post-footer a:hover,
.post-footer a:visited,
.post-footer a:link,
.post-footer a:active {
    text-decoration: none;
    color: #d9230f;
    padding: 5px;
}

.MathJax_Display {
    overflow-x: auto;
}

/* Site footer */
.site-footer {
    position: relative;
    padding: 20px 0;
}