body {
    font-family: "Source Hans CN", Helvetica, Arial, sans-serif;
    width: 800px;
    margin: auto;
    background: #FFFFFF;
    padding: 10px 10px 10px 10px;
}

h1 {
    font-size: 55px;
    color: #757575;
    text-align:center;
    margin-bottom:15px;
}

h1:hover {
    background-color: #757575;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #333;
}

h2 {
    color: #428bca;
}

h2:before {
    content: "";
    display: inline-block;
    margin-right:1%;
    width: 8%;
    height: 10px;
    background-color: #428bca;
}

h2:hover {
    background-color: #1962A1;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #333;
}

dl {
    margin-left: 2%;
}

dt {
    float: left;
    clear: left;
    width: 16%;
    font-weight: bold;
    padding: 5px 0;
}

dd {
    margin-left: 18%;
    padding: 5px 0;
    word-wrap: break-word; 
    word-break: break-all;; 
}

p {
    margin-top:0;
    margin-bottom:7px;
}

ul {
    margin-left: 2%;
}

li {
    padding: 2px 0;
}

blockquote {
    text-align: center
}

a {
    text-decoration: none;
    color: #428bca;
}

a:hover, a:active {
    background-color: #428bca;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
}

hr {
    color: #A6A6A6;
}

