---
layout: default
---

<div class="container well well-large page">

    <header class="page-header">
        <h1>{{ page.title }}</h1>
    </header>

    <article class="page-content">
        {{ content }}
    </article>

    <footer class="page-footer">
        <div class="col-xs-4 col-md-4 text-left"></div>
        <div class="col-xs-4 col-md-4 text-center">
            <a role="button" href="{{ site.url }}{{ page.url }}#" title="Top" class="fa fa-angle-double-up fa-lg"></a>
        </div>
        <div class="col-xs-4 col-md-4 text-right"></div>
    </footer>

</div>